body {
  background: url(../img/fon.png);
  background-size: cover;
  font-family: roboto;
}

a {
  text-decoration: none;
}
.container {
  width: 1030px;
  margin: 0 auto;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 46px;
}

.logo {
  display: flex;
  text-decoration: none;
}
.logo__img {
  background: url(../img/ml.png);
  width: 53px;
  height: 47px;
}

.logo:hover .logo__img {
  background: url(../img/ml2.png);
}
.logo:hover .logo__txt {
  color: #f26522;
}
.logo__txt {
  list-style-type: none;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  padding-left: 8px;
  text-transform: uppercase;
}
.milan {
  font-size: 29px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 61px;
  text-align: right;
}
.contacts a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.mail:hover,
.phone:hover {
  color: #f26522;
  cursor: pointer;
}

.tours {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.tour-item {
  width: 300px;
  text-align: center;
  list-style-type: none;
}

.tour-item-txt {
  color: white;
  font-size: 18px;
  margin-top: 20px;
  font-weight: normal;
}
.tour-img {
  position: relative;
  width: 300px;
  color: white;
  overflow: hidden;
}

.details {
  position: absolute;
  top: 165px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  width: 300px;
  max-height: 55px;
  background-color: #f26522;
  opacity: 0;
  transition: 0.3s;
}

.tour-img:hover .details {
  opacity: 1;
}

.from,
.price {
  padding: 7px 16px 0;
}

.from {
  font-size: 10px;
}
.price {
  font-size: 20px;
}

.view-details {
  color: white;
  font-size: 14px;
  padding-top: 29px;
  padding-left: 89px;
}
.details::after {
  content: "\203a";
  position: relative;
  top: 29px;
  line-height: 14px;
}

.tour-item-txt:hover {
  color: #f26522;
  cursor: pointer;
}

.footer__row {
  display: flex;
  justify-content: center;
}

.footer__row p {
  color: white;
  font-size: 12px;
}
