.password-form {
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  position: relative;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
}

.input-wrapper input {
  min-width: 120px;
  padding: 10px;
  margin-bottom: 24px;
}

.input-wrapper i {
  position: absolute;
  right: 10px;
  top: 12px;
  color: grey;
}

.btn {
  width: 150px;
}
#errorMessage {
  margin: 0;
  padding: 0;
  color: red;
  position: absolute;
  top: 111px;
  left: 144px;
  font-size: 13px;
}
