$text-dark: #4E4E4E;
$text-darkgrey: #5C5C5C;
$text-lightgrey: #7C7C7C;
$footer-text-color:#B9B9B9;

$text-size11: 11px;
$text-size12: 12px;
$text-size14: 14px;
$text-size16: 16px;

$line-height22: 22px;