@import "normalize";
@import "variables";
@import "mixins";

body {
  font-family: "Roboto", sans-serif;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 249, 255, 1) 11.1%,
    rgba(255, 241, 255, 1) 90%
  );
}

.container {
  min-width: 320px;
  max-width: 1250px;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0 auto;
}

@import "loader";
@import "header_section";
@import "recent-posts_section";
@import "footer_section";
