.recent-posts {
  &__tittle {
    font-size: $text-size14;
    line-height: $line-height22;
    margin: 38px 0 -4px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $text-dark;
  }

  &__img {
    margin-top: 28px;
  }
}

.recent-posts__image-block {
  &:last-child {
    display: none;
  }

  &-subtitle {
    font-weight: bold;
    font-size: $text-size14;
    line-height: 30px;
    color: $text-dark;
    margin: 11px 0 0 0;
  }

  &-text {
    font-size: $text-size11;
    line-height: 20px;
    color: $text-lightgrey;
    margin: 0;
  }

  &-bigger-text {
    font-size: $text-size14;
    line-height: 26px;
    color: $text-darkgrey;
    display: none;
  }
}

@media (min-width: 768px) {
  .recent-posts {
    &__tittle {
      margin: 56px 0 -4px 0;
      font-size: $text-size16;
    }

    &_text-container {
      margin: 10px 0 0 20px;
    }

    &__image-block {
      display: grid;
      grid-template-columns: 160px 400px;

      &-text {
        font-size: $text-size12;
      }

      &-subtitle {
        font-size: $text-size16;
      }

      &:last-child {
        display: grid;
        grid-template-columns: 160px 400px;
      }
    }

    &__image-block-bigger-text {
      display: inline-block;
    }
  }
}

@media (min-width: 1200px) {
  .recent-posts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 69px;
  }
}
