body {
  background: url("../img/stars.png");
  background-size: cover;
  overflow: hidden;
  color: #ffb13a;
  font-family: arial;
}
.container {
  margin: 0 auto;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
  width: 1080px;
  transform: perspective(450px) rotateX(40deg);
  animation: starwars-animation 30s infinite;
}
.container p {
  text-align: justify;
}

.container h1,
h2 {
  text-align: center;
  font-weight: normal;
}

@keyframes starwars-animation {
  0% {
    transform: perspective(450px) rotateX(40deg) translateY(680px);
  }
  50% {
  }
  100% {
    transform: perspective(450px) rotateX(40deg) translateY(-1680px);
  }
}
