*,
*::after,
*::before {
  box-sizing: border-box;
}

.page-body {
  font-family: Montserrat;
  padding-top: 25.5px;
  font-size: 14px;
  line-height: 1.571;
  text-align: center;
  letter-spacing: 2.4px;
}
.container {
  max-width: 1280px;
  margin: auto;
}
a {
  text-decoration: none;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 3.3px;
  padding: 24px;
}

.main-menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
}

.main-menu a {
  font-size: 18px;
  color: #ff0000;
}
.main-menu-item {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
}

.main-menu-link {
  display: block;
  font-size: 18px;
  color: #3d3d3d;
  line-height: 1.2;
  padding: 4px 24px;
}
.image {
  padding-top: 25.5px;
  max-width: 100%;
}
.text {
  padding-left: 33.75px; /* Поля вокруг текста */
  padding-right: 33.75px; /* Поля вокруг текста */
  margin: 10px; /* Отступы вокруг */
}

.button {
  background-color: red;
  border: none;
  border-radius: 4px;
  width: 191px;
  height: 51px;
  font-style: normal;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 42px 42px;
  text-transform: uppercase;
}

.page-footer {
  letter-spacing: 2.4px;
  text-align: right;
  font-weight: bold;
  margin: 42px;
}
