*,
::after,
::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_menu {
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  font-family: Roboto;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}
.header_menu_item {
  display: grid;
  align-items: center;
  margin: 0 1px;
  background: #35444f;
  height: 72px;
  list-style-type: none;
}
.menu_link1 {
  padding-left: 100px;
}

.header_menu_item:hover {
  background-color: #222f3a;
}

.colortext {
  color: #4acbff;
}

.logo {
  width: 334px;
  height: 79px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.content-section {
  align-items: flex-start;
}
.main-image {
  display: flex;
  width: 885px;
  height: 529px;
  justify-content: center;
  border: 1px solid #000000;
}

.ramda-img {
  display: flex;
  object-fit: contain;
}

.ramda-img:hover {
  transform: scale(1.2);
}

.nodejs {
  padding-right: 150px;
}
.container {
  max-width: 1280px;
  padding-top: 61px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.aside {
  width: 344px;
  font-family: Roboto;
  margin: 0;
  font-size: 27px;
  border: 1px solid #000000;
  padding-left: 0;
}

.aside_item {
  display: flex;
  height: 80px;
  align-items: center;
  color: #495863;
  padding-left: 44px;
}
.aside_item:hover {
  background-color: #dbdbdb;
  padding-left: 75px;
}

.content-text {
  display: flex;
  width: 885px;
  flex-direction: column;
}
.content-text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.footer-menu {
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.footer-menu-item {
  display: grid;
  align-items: center;

  justify-content: center;
  background: rgba(99, 105, 110, 0.48);
  height: 72px;
  list-style-type: none;
}
.footer-menu-item:hover {
  color: #3181a5;
  text-decoration: underline;
}

.copyright {
  padding-left: 100px;
}
