*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  margin: 0;
  padding: 0;
}
h4 {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin: 31px 0px 15px 61px;
}
a {
  text-decoration: none;
  color: white;
}

.header {
  background: rgba(0, 0, 0, 0.5);
  padding: 18px 79px;
  display: flex;
  justify-content: space-between;
}

.logo a {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.logo:hover {
  -webkit-text-fill-color: #01813f;
}

.navigation {
  display: flex;
  justify-content: space-between;
  min-height: 24px;
}

.nav-icons {
  display: flex;
  margin: 0;
}

.li-icons {
  list-style: none;
  width: 21px;
  height: 24px;
  margin-right: 27px;
}

.calendar {
  background-repeat: no-repeat;
  background-size: 24px 21px;
}

.li-icons > a:hover .icons {
  fill: #01813f;
}

.mail {
  background-repeat: no-repeat;
  background-size: 24px 21px;
}

.location {
  background-repeat: no-repeat;
  background-size: 24px 21px;
}
.line {
  display: flex;
}
.welcome {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 27px;
}
.green-txt:hover {
  color: #01813f;
}

.main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 54px;
}

.sign-up-form {
  width: 444px;
  background-color: #fff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 72px;
}

.decor-green-elements::before {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  content: "";
  background-color: #3cb878;
  right: 204px;
  top: 4px;
}

.login-form-link {
  color: #3cb878;
  justify-self: end;
  padding-right: 59px;
  padding-top: 33px;
}

.login-form-link:hover {
  text-decoration: underline;
  color: #01813f;
}

.social_buttons {
  width: 160px;
  min-height: 48px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  margin-bottom: 40px;
}

.facebook-button {
  margin-left: 60px;
  padding: 12px 22px 16px 12px;
  background-color: #305db8;
  position: relative;
}
.facebook-button:after {
  content: "│";
  position: absolute;
  right: 116px;
  color: #2b0d09;
  opacity: 0.1;
}

.social_buttons > span {
  margin-left: 36px;
}

.social_buttons:focus {
  outline: none;
}

.facebook-button:hover {
  background-color: #022263;
}

.google-button {
  margin-left: 4px;
  padding: 12px 27px 14px 12px;
  background-color: #df4a32;
  position: relative;
}

.google-button:hover {
  background-color: #ab1f09;
}

.google-button:after {
  content: "│";
  position: absolute;
  right: 99px;
  color: #2b0d09;
  opacity: 0.1;
}

.or {
  color: #848484;
  grid-column: 1/3;
  justify-self: center;
  position: relative;
}

.or::after {
  display: block;
  width: 152px;
  content: "";
  border-bottom: 1px solid #848484;
  position: absolute;
  top: 50%;
  left: 19px;
  opacity: 0.2;
}

.or::before {
  display: block;
  width: 152px;
  content: "";
  border-bottom: 1px solid #848484;
  position: absolute;
  top: 50%;
  right: 16px;
  opacity: 0.2;
}

.form__input {
  display: grid;
  grid-column: 1/3;
  justify-self: center;
}

.contacts_input {
  width: 324px;
  min-height: 45px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 16px 20px;
  margin: 15px 60px;
}

.contacts_input::-moz-placeholder {
  color: #bebebe;
  opacity: 1;
}
.contacts_input::-webkit-input-placeholder {
  color: #bebebe;
  opacity: 1;
}

.checkbox {
  grid-column: 1/2;
  margin: 0 60px;
  padding-left: 30px;
  position: relative;
}
.checkbox > input {
  margin-right: 11px;
}
input:focus {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  right: 303px;
  bottom: -2px;
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "\2713";
  width: 14px;
  height: 13.5px;
  border-radius: 1px;
  transform: rotate(-3deg);
  left: 3px;
  top: 0px;
  font-size: x-large;
  color: #01813f;
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.checkbox-link {
  color: #3cb878;
}
.checkbox-link:hover {
  text-decoration: underline;
  color: #01813f;
}

.create-account {
  width: 324px;
  min-height: 46px;
  background-color: #3cb878;
  grid-column: 1/2;
  justify-self: center;
  margin: 20px 60px 38px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
}

.create-account:hover {
  background-color: #01813f;
}
