html {
  width: 1900px;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
}

.logo img {
  padding: 21.5px;
}

.logo p {
  color: white;
  font-size: 22px;
}
.flex-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #1d2124;
}

.flex-header a {
  text-decoration: none;
  color: inherit;
}

.header-nav {
  display: flex;
  list-style-type: none;
}

.header-nav a:hover {
  color: #14b9d5;
}
.box {
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  padding: 18px;
}

.search {
  background: #000000;
  width: 68px;
  height: 70px;
}

.search img {
  padding: 26.5px;
}
.first-container {
  min-height: 438px;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/bck1.jpeg);
  background-position-y: -547px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-container h2 {
  padding-top: 164px;
  font-size: 27px;
  color: #ffffff;
}

.buttons {
  display: flex;
}

.green-button {
  width: 170px;
  border-radius: 5px;
  margin: 44px 10px 10px;
  background: #89ca62;
}

.blue-button {
  width: 170px;
  border-radius: 5px;
  margin: 44px 10px 10px;
  background: #14b9d5;
}

.green-button p,
.blue-button p {
  font-size: 18px;
  color: white;
  text-align: center;
}

.title {
  font-size: 27px;
  color: #18b4cf;
  text-align: center;
  text-transform: uppercase;
  padding: 43px;
  font-family: Open Sans;
  font-style: normal;
  margin: 0;
}
.second-container {
  background-color: #f2f2f2;
}

.popular-posts {
  display: flex;
  height: 912.95px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.popular-posts-box {
  margin: 0 22px 30px;
  background-color: #fff;
}
.box-title {
  font-size: 18px;
  color: black;
  text-align: center;
}
.grid-container1 {
  min-height: 588px;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/basic-html-css_homework_homework4-Design-and-architecture_img_parallax-bg.jpeg);
  background-position-y: -217px;
}
.popular-clients {
  color: white;
  font-size: 32px;
  padding-top: 106px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-areas:
    ". a a ."
    ". a a .";
}
.rect {
  grid-area: a;
  justify-self: center;
  margin-top: 87px;
}

.clients-logo {
  display: grid;
  margin-top: 106px;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "client0 client0 client1 client2 client3 client4";
}
.client1 {
  grid-area: client1;
}

.client2 {
  grid-area: client2;
}

.client3 {
  grid-area: client3;
}

.client4 {
  grid-area: client4;
}

.top-rated-img {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.hot-news {
  margin-bottom: 70px;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 277px 277px 277px 277px;
  grid-gap: 43px 0;
  justify-content: space-between;
  grid-template-areas: "hn1 hn1 hn1 hn2" "hn3 hn3 hn4 hn4" "hn5 hn5 hn6 hn6" "hn7 hn8 hn8 hn8";
}

.hot-news p {
  text-align: right;
  font-size: 14px;
  margin-right: 13px;
}

.hot-news h2 {
  font-size: 18px;
}

.hot-news-box1 {
  background: #f9f7f7;
  grid-area: hn1;
  margin-right: 30px;
  text-align: right;
}

.hot-news-box2 {
  background: #f9f7f7;
  text-align: center;
  grid-area: hn2;
}
.hot-news-box3 {
  background: #f9f7f7;
  grid-area: hn3;
  margin-right: 30px;
  text-align: right;
}
.hot-news-box4 {
  background: #f9f7f7;
  grid-area: hn4;
  margin-left: 30px;
  text-align: right;
}
.hot-news-box5 {
  background: #f9f7f7;
  grid-area: hn5;
  margin-right: 30px;
  text-align: right;
}
.hot-news-box6 {
  background: #f9f7f7;
  grid-area: hn6;
  margin-left: 30px;
  text-align: right;
}
.hot-news-box7 {
  background: #f9f7f7;
  text-align: center;
  grid-area: hn7;
}
.hot-news-box8 {
  background: #f9f7f7;
  grid-area: hn8;
  margin-left: 30px;
  text-align: right;
}

footer {
  background-color: #1d2124;
  height: 80px;
}

footer .flex-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .flex-footer .footer-txt {
  font-size: 13px;
  color: white;
  padding: 30px;
}

/* lol */
.diner {
  font-size: 72px;
  font-family: "Amatic SC", cursive;
  display: block;
  color: transparent;
  paint-order: fill stroke markers;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fed128;
  text-shadow: 0 0 3vw #fa1c16, 0 0 3vw #fa1c16, 0 0 3vw #fa1c16,
    0 0 0.4vw #fed128;
  font-weight: bold;
  letter-spacing: 5px;
}

.faulty-letter {
  -webkit-text-stroke-color: #444444;
  text-shadow: 0 0 1vw #222222, 0 0 1vw #222222, 0 0 1vw #222222,
    0 0 0.2vw #444444;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: 9999;
}
@keyframes blink {
  from,
  38%,
  43.25%,
  49.5%,
  51.125%,
  to {
    -webkit-text-stroke-color: #444444;
    text-shadow: 0 0 1vw #222222, 0 0 1vw #222222, 0 0 1vw #222222,
      0 0 0.2vw #444444;
  }

  38.5%,
  43%,
  50%,
  51% {
    -webkit-text-stroke-color: #fed128;
    text-shadow: 0 0 3vw #fa1c16, 0 0 3vw #fa1c16, 0 0 3vw #fa1c16,
      0 0 0.4vw #fed128;
  }
}
