body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  margin-top: 100px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
}
.tabs-content {
  background-color: white;
  max-width: 1000px;
  min-height: 300px;
  margin: 0 auto;
  border: 1px solid black;
}
.tab {
  padding: 20px;

  color: black;
  cursor: pointer;
  font-size: 20px;
}

.active {
  background-color: lightslategray;
  color: black;
  font-size: 20px;
}

.hide {
  display: none;
}
.show {
  padding: 20px;
  text-align: center;
  display: block;
  font-size: 20px;
  color: black;
  line-height: 1.5em;
}
